footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-link {
    list-style: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

img {
    width: 12px;
    height: 12px;
}
