header {
    display: flex;
    justify-content: space-between;
    padding: 0.15rem 0;
    margin-bottom: 50px;
}

header img {
    height: 30px;
    margin: auto 0;
}

.basket {
    margin: auto 0;
}
